<div class="bootstrap-wrapper">
 <div *ngIf="flag">
    <div class="row">
      <div class="col-md-4">
        <h1 class="color_nav"><a [routerLink]="'/'">SEAL THE DEAL</a></h1>
      </div>
      <div class="colo col-md-8 colW">
        <div class="row">
          <div class="col-md-4">
            <img mat-card-image class="mSize" src="../../../assets/img/3.jpg" alt="Photo of a Shiba Inu">
        
          </div>
          <div class="cb col-md-8">
            <h1 class="tb mt30">{{ads.price}}% off <br><br>Shop at <b>{{ads.company_name}}</b></h1>
           
          </div>
        </div>
      </div>
      
  </div>
  <div class="color_sea">
    
      <button [routerLink]="'/user/addAds'" class="color_ad">Post Your Ads</button>
     
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <form class="example-form">
            <mat-form-field class="example-full-width" >
              <mat-label>Email</mat-label>
              
              <input class="search" placeholder="What are you looking for?">
              
            </mat-form-field>
          </form>
        </div>
      </div>
      
      <mat-toolbar>
        <mat-toolbar-row>
      
          <span class="example-spacer"></span>
          <button  mat-icon-button example-icon favorite-icon aria-label="Example icon-button with heart icon">
            <mat-icon [routerLink]="'/login'">login</mat-icon>
           
          </button>
          <a [routerLink]="'/login'">Login</a>
          <button mat-icon-button clasexample-icon aria-label="Example icon-button with share icon">
            <mat-icon [routerLink]="'/register'">how_to_reg</mat-icon>
          </button>
          <a [routerLink]="'/register'">Register</a>
    
        </mat-toolbar-row>
      </mat-toolbar>   
  </div>
</div>
<!-- //working on loggedin  -->
 
<div *ngIf="!flag" class="color_sea">
  <mat-toolbar class="color_sea1">
    <mat-toolbar-row>
      <a class="color_white" [routerLink]="'/'">Seal The Deal</a>
    <span class="example-spacer"></span>
     
      
      <button mat-icon-button class="ml20">
        <mat-icon [routerLink]="'/user'" >perm_identity</mat-icon>
      </button>
      <a [routerLink]="'/user'" >{{user.name}}</a>
      <button (click)="logout()"  mat-icon-button class="ml20">
        <mat-icon >add_shopping_cart</mat-icon>
        <a class="g_b"><sub><b>0</b></sub></a>
      </button>
      <button (click)="logout()"  mat-icon-button class="ml20">
        <mat-icon >exit_to_app</mat-icon>
      </button>
      <a (click)="logout()">Logout</a>
      
    </mat-toolbar-row>
  </mat-toolbar>   
</div>


  

</div>

