.example-spacer {
    flex: 1 1 auto;
  }
  
  .color_nav{
    background-color:#C4C4C4;
    padding: 30px;
    color:black;
  }
  .color_ad{
    background-color:#3B5998;
    padding: 10px;
    border-radius: 50px;
    color: white;
    margin-left:1300px;
    font-size: 15px;
    cursor: pointer;
  }
  .color_sea{
    background-color:#c5cae9;
        padding: 10px;
  }
  .color_sea1{
    background-color:#c5cae9;
  }
  .color_white{
    color: white;
    font-size:26px;
    font-weight:bold;
  }
  .search{
    
    padding: 15px;
    border-radius: 50px;
    margin-left: 110px;
    padding-right: 400px;
    
  }
  .login{
    color:black;
    background-color:#c5cae9;
    
  }
  mat-nav-list.list-horizontal {
    display: flex;
    flex-direction: row;
   }
   .g_b{
     color:rgb(33, 192, 33);
     padding:2px;
     border-radius:50%;
   }
.colo{
  background-color:#3B5998;
}
.mSize{
  max-width:300px;
  height: 180px;
}
.colW{
  color:white;
}
.tb:hover {
  font-size:70px;
  color: rgb(40, 155, 205);
}
.tb{
  font-size:70px;
  color: white;
}
.cb:hover{
  background-color:white;
  color: rgb(40, 155, 205)!important;
}
.mt30{
  margin-top:45px;
}
