<div class="bootstrap-wrapper">

    <mat-card class="mt20">
        <h1 style="margin-top:40px;">Please complete your profile:</h1>
        <!-- {{loginData|json}} -->
        <form (ngSubmit)="formSubmit()">
            <div class="container">
            <div class="row">
                <div class="col-md-3 offset-md-3">
                        <mat-form-field class="full-width text-center" appearance="outline">

                            <mat-label>Agency Name</mat-label>
                            <input
                            [(ngModel)]="houseSupport.agencyName"
                            
                            name="agencyName" matInput placeholder="Enter name">
                            <mat-hint>Name</mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="full-width text-center" appearance="outline">

                            <mat-label>Agency Contact</mat-label>
                            <input
                            [(ngModel)]="houseSupport.agencyContact"
                            name="agencyContact" matInput placeholder="Enter contact number">
                            <mat-hint>Contact</mat-hint>
                        </mat-form-field>
                    </div>

                   </div>
                   <div class="row">
                    <div class="col-md-3 offset-md-3">
                            <mat-form-field class="full-width text-center" appearance="outline">
    
                                <mat-label>Description</mat-label>
                                <input
                                [(ngModel)]="houseSupport.description"
                                name="description" matInput placeholder="Enter description">
                                <mat-hint>Description</mat-hint>
                            </mat-form-field>
                        </div>
            </div>
        </div>
            <div class="btnMar">
                <button type="submit" mat-raised-button color="primary">Save</button>
            </div>
        </form>
    </mat-card>

</div>