<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <mat-card class="mt20">
                    <h1 class="text-center" style="margin-top:40px;">Registration</h1>
                    <!-- formSubmit is written in signup.ts
                ngSubmit is a event to submit
                 -->
                    <form (ngSubmit)="formSubmit()">
                        <mat-form-field class="full-width" appearance="outline">

                            <mat-label>Name</mat-label>
                            <input
                            [(ngModel)]="user.name"
                            name="name"
                            required matInput placeholder="Enter your name">

                        </mat-form-field>
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Password</mat-label>
                            <input
                            [(ngModel)]="user.password"
                            name="password"
                            required type="password" matInput placeholder="Enter password">

                        </mat-form-field>
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Email</mat-label>
                            <input
                            [(ngModel)]="user.email"
                            name="email"
                            required matInput placeholder="Enter email">

                        </mat-form-field>
            
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Phone</mat-label>
                            <input
                            [(ngModel)]="user.phone"
                            name="phone"
                            required matInput placeholder="Enter date">

                        </mat-form-field>

                        <h4>Select Role</h4>
                        <mat-form-field appearance="fill">
                            <mat-label>Role</mat-label>
                            <mat-select [(value)]="user.role">
                                <mat-option   value="Admin">Admin</mat-option>
                                <mat-option   value="Consumer">Consumer</mat-option>
                                <mat-option   value="Vendor">Vendor</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div class="container text-center">

                            <button type="submit" mat-raised-button color="primary">Submit</button>
                        </div>
                    </form>
                </mat-card>
            </div>
        </div>
    </div>
</div>