<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="container text-center">
                    <mat-card class="mt20">
                    <h1 style="margin-top:40px;">Login</h1>
                    <!-- {{loginData|json}} -->
                    <form (ngSubmit)="formSubmit()">
                        <mat-form-field class="full-width text-center" appearance="outline">
                            
                            <mat-label>Username</mat-label>
                            <input
                            [(ngModel)]="loginData.username"
                            name="username"
                            
                       
                            matInput placeholder="Enter Username">
                            <mat-hint>Valid username</mat-hint>
                        </mat-form-field>

                        <mat-form-field class="full-width mt20 text-center" appearance="outline">
                        
                            <mat-label>Password</mat-label>
                            <input 
                            [(ngModel)]="loginData.password"
                            name="password"
                           type="password"
                          
                            matInput placeholder="Enter Password">
                            
                        </mat-form-field>

                        <div class="container text-center">
                            <button type="submit" mat-raised-button color="primary">Login</button>
                        </div>
                    </form>
                </mat-card>
                </div>
                </div>
            </div>
        </div>
    </div>