<div class="bootstrap-wrapper">
    <div class="container">
        <div class="mt20 row">
            <div class="col-md-3 mt20" *ngFor="let p of products">
                <mat-card class="content example-card">
                    <img mat-card-image class="" src="../../../assets/img/default.jpg">
                    <mat-card-content>
                      <a>{{p.product_name}}</a>
                      <h4>({{p.type}})</h4>
                      <p>{{p.description}}</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button color="primary" mat-button><mat-icon mat-list-icon>add_shopping_cart</mat-icon>Add to cart</button>
                       
                      </mat-card-actions>
                </mat-card>
            </div>
            </div>
        </div>
    </div>