<div class="bootstrap-wrapper">
    <div class="container">
        <div class="mt20 row">
            <div class="col-md-3">
                <mat-card class="content example-card">
                    <img mat-card-image class="mt10" src="../../../assets/img/accomodation.png" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                      <a [routerLink]="'/appartment'">Find Accomodation</a>
                    </mat-card-content>
                </mat-card>
            </div>
            
            <div class="col-md-3">
                <mat-card class="content example-card">
                    <img mat-card-image class="mt10" src="../../../assets/img/furniture.png" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                      <a [routerLink]="'/viewFurniture'">Buy-Rent Furniture</a>
                    </mat-card-content>
                </mat-card>   
            </div>
            <div class="col-md-3">
                <mat-card class="content example-card">
                    <img mat-card-image class="mt10" src="../../../assets/img/products.png" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                      <a [routerLink]="'/viewProduct'">Sell Products</a>
                    </mat-card-content>
                </mat-card>   
            </div>
            <div class="col-md-3">
                <mat-card class="content example-card">
                    <img mat-card-image class="mt10" src="../../../assets/img/job.png" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                      <a [routerLink]="'/viewWork'">Find Jobs</a>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>

        <!-- 2nd row -->
        <div class="mt20 row">
            <div class="col-md-3">
                <mat-card class="content example-card">
                    <img mat-card-image class="mt10" src="../../../assets/img/household.png" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                      <a [routerLink]="'/viewAssistant'">Household Support</a>
                    </mat-card-content>
                </mat-card>
            </div>
            
            <div class="col-md-3">
                <mat-card class="content example-card">
                    <img mat-card-image class="mt10" src="../../../assets/img/mental_health.png" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                      <a [routerLink]="'/viewDoctor'">Mental Support</a>
                    </mat-card-content>
                </mat-card>   
            </div>
            <div class="col-md-3">
                <mat-card class="content example-card">
                    <img mat-card-image class="mt10" src="../../../assets/img/legal.png" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                      <a [routerLink]="'/viewLegal'">Legal Support</a>
                    </mat-card-content>
                </mat-card>   
            </div>
            <div class="col-md-3">
                <mat-card class="content example-card">
                    <img mat-card-image class="mt10" src="../../../assets/img/house_shift.png" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                      <a [routerLink]="'/viewHouseService'">House Shifting Support</a>
                    </mat-card-content>
                </mat-card>
            </div>
            </div>

             <!--                                       3rd row                               -->  
               
        <div class="mt20 row">
            <div class="col-md-3">
                <mat-card class="content example-card">
                    <img mat-card-image class="mt10" src="../../../assets/img/water.png" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                      <a [routerLink]="'/viewWater'">Water Support</a>
                    </mat-card-content>
                </mat-card>
            </div>
        
       
            <div class="col-md-3">
                <mat-card class="content example-card">
                    <img mat-card-image class="mt10" src="../../../assets/img/emergency.png" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                      <a>Emergency Support</a>
                    </mat-card-content>
                </mat-card>
            </div>
            
            <div class="col-md-3">
                <mat-card class="content example-card">
                    <img mat-card-image class="mt10" src="../../../assets/img/comming_soon.png" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                      <a [routerLink]="'/commingSoon'">Comming Soon...</a>
                    </mat-card-content>
                </mat-card>   
            </div>
           
        </div>
        <br>
        <mat-divider class="divi"></mat-divider>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="ml20">
                <h2><b>Contact Us :</b></h2>
                <p><b>Email :</b>sealthedeal@gmail.com</p>
                <p><b>Phone :</b>+880177777566</p>
            </div>
            </div>
            <div class="col-md-6">
                <div class="ml20">
                <h2><b>Copyright :</b></h2>
                <p>Seal The Deal Group | Smile Group</p>
                <p>Product Listing Policy - Intellectual Property Protection - Privacy Policy - Terms of Use - User Information Legal Enquiry Guide</p>
            </div>
            </div>
        </div>

    </div>
    </div>
